<!DOCTYPE html>
<html>

<head>
 <title>Tictoc</title>
 
   <div style="text-align: center; style=border:1px solid #FFFFFF;">
     <div id="rowone" style="center;">
       <canvas id="myCanvasa" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvasb" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvasc" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
     </div>
     <div id="rowtwo" style="center;">
       <canvas id="myCanvasd" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvase" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvasf" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
     </div>  
     <div id="rowthree" style="center;">
       <canvas id="myCanvasg" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvash" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
       <canvas id="myCanvasi" width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
     </div>
     <button type="button" onclick="alert('Hello world!')">Click Me!</button>
   </div>

</head>

<body>

<%= yield %>

</body>
</html>