<!DOCTYPE html>
<html>

<head>
  <title>Tictoc</title>
    
    <div style="text-align: center; style=border:1px solid #FFFFFF;">
      <% @size.times do |r| %>
          <div id=<%="row"+r.to_s%> style="center;">
          <% @size.times do |p| %>
            <canvas id=<%="myCanvas"+(@size*r+p).to_s%> width="160" height="160" style="border:1px solid #FFFFFF;"></canvas>
          <% end %>
        </div>
    <% end %>


      

    </div>

</head>

<body>

<%= yield %>

</body>
</html>